<!-- <small>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus error libero inventore, officia cupiditate ex modi asperiores optio magnam blanditiis vitae ab, qui illo maxime vero totam itaque mollitia quod.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium natus cum quis, excepturi sit eveniet aperiam doloribus ut? Quas tempora unde dolore earum ab temporibus nihil laboriosam veniam harum expedita.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ut sapiente ipsa, odio consequuntur eligendi ad sed enim magnam consequatur magni dolorem doloremque eveniet et natus quaerat laudantium sunt iure.
  </small> -->

  <!-- <ul>
    <li *ngFor="let gif of resultados">
      {{gif.title}}
    </li>
  </ul> -->

  <div class="row">
    <app-cards></app-cards>
    <!-- <div *ngFor="let gif of resultados" class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
      
      <div class="card">
        <img [src]="gif.images.downsized_medium.url" class="card-img-top">
        <div class="card-body">
          <div class="card-text">
            {{gif.title}}
          </div>
        </div>
      </div>
    </div> -->
  </div>